/*Font import*/
@import url('https://fonts.googleapis.com/css?family=Hind:300,400,600,700|Sacramento');



body {
  background-color: white;
  font-family: 'Hind', sans-serif;
}

h1 {
  color: #C1E7D5;
  font-family: 'Sacramento', cursive;
  font-weight: 700;
  font-size: 110px;
  padding: 80px 0 50px 0;
  text-align: center;
  text-shadow: -1px 0 #42AD7B, 0 1px #42AD7B, 1px 0 #42AD7B, 0 -1px #42AD7B;
}

.container-one{
  text-align: center;
}

.start-game {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
}

.btn {
  font-size: 28px;
  margin-top: 15px;
  padding-bottom: 0;
  padding-top: 3px;
}

.modal-btn {
  font-size: 24px;
  margin-top: 15px;
  padding-bottom: 0;
}

.modal-footer .btn {
  font-size: 20px;
}

.game-page-full {
  height: 700px;
  width: 1200px;
}

.my-game{
  background-image: url('../images/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  margin: 15px 131px 15px 15px;
  float: right;
  height: 550px;
  width: auto;
  border: 1px solid black;
}

.my-game > img {
  height: 400px;
  width: auto;
}

.shots {
  color: white;
  font-weight: 600;
  font-size: 24px;
  text-align: left;
  position: absolute;
  margin-top: 218px;
  padding-left: 300px;
}

#cupcount {
  font-size: 50px;
}

.hearts {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 40px;
  margin-left: 464px;
  padding-top: 255px;
}

.hearts > img {
  padding: 5px;
}
